<div class='users_page'>
    <h3><%= @user.email %></h3>
    <%= gravatar_image_tag( @user.email.gsub('spam', 'mdeering'), :alt =>  @user.email, class: 'user_show_gravatar' ) %>
    <p><%= @user.created_at %></p>
</div>