<%= bootstrap_form_for [@user, @new_item] do |f| %>
    <div class='create-item-name-field'>
        <%= f.text_field :name %>
    </div>
    <div class='create-item-save-field'>
        <%= f.submit "Save" %>
    </div>
<% end %>