<div class='row'>
    <h3>Item list</h3>
    <div class='col-md-8'>
        <% @items.each do |item| %>
            <%= item.name %>
            </br>
        <% end %>
    </div>
    <%= link_to "Create New Item", new_item_path, class: 'btn btn-primary' %>
</div>