/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require rails_bootstrap_forms
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.container.message{
    padding: 0px;
    
    #notice {
        background-color: $brand-info;
        margin-bottom: 0px;
        padding-left: 15px;
    }
    
    #alert {
        background-color: $brand-danger;
        margin-bottom: 0px;
        padding-left: 15px;
        h3 {
            margin-top: 0;
        }
    }
}

header {
    background-color: black;
    
    #logo {
        float: left;
        padding: 15px;
        margin-left: -15px;
        &:hover {
            background-color: $gray-lighter;
        }
    }
    
    nav {
        float: right;
    }
}

.welcome_page {
    text-align: center;
    .welcome_nev {
        margin-top: 20px;
    }
}

.users_page {
    text-align: center;
    
    .user_show_gravatar {
        margin: 10px 0px;
        width: 20%;
        height: 20%;
    }
}

.item_area {
    color: white;
    background-color: rgb(0,154,205);
    padding-bottom: 10px;
    
    .create_item_area {
        background-color: rgb(176,224,230);
        margin: 15px;
        border: 15px;
        
        .create-item-name-field {
            font-size: 150%;
        }
    }
    
    .item_list_area {
        color: black;
        background-color: white;
        margin: 15px;
        
        .item_list {
            margin: 15px;
            background-color: rgb(0,0,50);
        }
    }
}